<h1>Formulario de Tareas</h1>
<a href="{% url 'tareas' %}">Volver</a>
{% comment %} Se crea un formuario para crear una nueva tarea {% endcomment %}
<div>
    <form method="POST" action="">
        {% comment %} Protejemos de forma sencilla de posible envío de información por medio de datos maliciosos en el formulario {% endcomment %}
        {% csrf_token %}
        {% comment %} Se crea el formulario previamente generado desde el modelo {% endcomment %}
        {{form.as_p}}
        {% comment %} Se crea el botón de envío del formulario {% endcomment %}
        <input type="submit" value="Crear Tarea">
    </form>
</div>